.plan-catelogue {
  padding: 0;
  margin-top: 76px;
  margin-right:40px;
}

.stepList {
  display: flex;
  margin-bottom: 20px;
  color: #747474;
  &__dot {
    margin-right: 14px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100%;
    border: 3px solid #eaeaea;
  }
  &__index {
        font-weight: bold;
  }

  &__title {
        font-weight: bold;
  }
}

.activeDot {
  background: #66cdb6!important;
}

.ad1 {
  background: #66cdb6!important;
}

.ad2 {
  background: #66cdb6!important;
}

.ad3 {
  background: #66cdb6!important;
}

.ad4 {
  background: #66cdb6!important;
}

.ad5 {
  background: #66cdb6!important;
}

.ad6 {
  background: #66cdb6!important;
}

.ad7 {
  background: #66cdb6!important;
}

.ad8 {
  background: #66cdb6!important;
}


.ad9 {
  background: #66cdb6!important;
}

.ad10 {
  background: #66cdb6!important;
}

.ad11, .ad12, .ad13,.ad14,.ad15,.ad16 ,.ad17,.ad18,.ad19,.ad20{
   background: #66cdb6!important;
}

.active-13 {
  background: #66cdb6!important;
}

.active-14,.active-2,.active-1, .active-15,.ac1,.ac2,.ac3,.ac4,.ac5,.ac6,.ac7,.ac8,.ac8,.ac10 {
  background: #66cdb6!important;
}


.activeSeven {
 background: #66cdb6;
    
    padding: 2px 8px;
    border-radius: 4px;
    span {
color: #fff!important;
}
}
