.planTitle__redIcon svg {
  color: #fff;
}

.planTitle__greenIcon svg {
  color: #fff;
}

.plan-page {
      margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
}

.planContent {
      overflow: initial;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width:1280px;
}

.textContainer textarea.mdTxt {
  height: 100px;
  line-height: 1.5;
  padding: 12px 30px;
}

.textContainer textarea.lgTxt {
  height: 160px;
  line-height: 1.5;
  padding: 12px 30px;
}

.templateBtn {
  top: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  position: absolute;
  right: 20px;
  border: 2px solid #41a48e;
  border-radius: 100px;
  padding: 10px 20px;
  color: #41a48e;
}

@media (max-width: 1280px){
  .planContent {
    padding: 0 5%;
    max-width: 100%;
}
}

.planTopic {
      margin: 10px auto;
}


.themeColor {
  color: #66cdb6;
}

.redColor {
  color: #F45656;
}

.twoColumn {
  display:grid;
  grid-template-columns: 289px auto;
  grid-gap: 8px;
  grid-template-rows: 53px;
    margin-bottom: 8px;
}

.threeColumn {
  display:grid;
  grid-template-columns: 289px 201px auto;
  grid-gap: 8px;
  grid-template-rows: 53px;
    margin-bottom: 8px;
}

.greyInput{
  background:#ECECEC!important;
  border:1px solid #D4D4D4!important;
  border-radius: 8px!important;
  padding: 20px!important;
  color:#767676!important;
}

.textDarkGrey {
  color:#767676;
}

.normalInput {
  height: 53px;
  border:1px solid #D4D4D4;
}

.planHeader__option{
      margin-right: 18px;
}

.planHeader__option span{
  color:#F45454;
}

.w-100 {
      width: 100%;
}

.txt-center {
  text-align: center;
}

.textContainer {
  position:relative;
    line-height: 1;

    textarea {
      width:100%;
      border: 1px solid #d4d4d4;
      &:focus { 
    outline: none !important;
    border-color: rgb(159, 159, 159);;
}
    }
}

.textContainer img {
  position: absolute;
  left: -20px;
  top: 15px;
    z-index: 99;
}

.textContainer p {
  height: 10px;
}

.planTitle__redIcon {
  margin: 0 12px;
}

.checkIcon {
  font-family: Arial!important;
  text-align: center;
}

.greyText {
  color: #777;
}